*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
}


.code {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 60vw;
    border-radius: 5px;
}

::selection {
    background-color: #fffb00;
    color: black;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(210, 202, 202, 0.655); 
}
 
::-webkit-scrollbar-thumb {
  background: purple;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 96, 215); 
}

.main {
    line-height: 25px;
    font-size: 20px;
    width: 60vw;
    padding-bottom: 30px;
}

.yel {
    background-color: yellow;
    display: inline;
}

@media only screen and (max-width: 1000px) {
  .main, .code {
    width: 90vw;
    padding-left: 20px;
  }
}